@import "style-menu";
@import "style-index";
@import "style-franquicias";
body{
    background-color: $color-pagina;
}

header{
  @extend .menu
}

/* Media query para computadoras de escritorio */
@media (min-width: 1024px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }
}

/* Media query para tabletas */
@media (min-width: 600px) {
    body {
        padding: 20px;
    }
} 